@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');


:root {
  --text-color: #fff;
  --white-color: #fff;
  --sub-text-color: #aaa;
  --bg-color: #202020;
  --accent-color: #0ACDCE;
  --border-color: #8b8b8b;
  --font-m: 'Montserrat';
}


/*━━━━━━━━━━━━━━━━━CSS초기화 (css reset)━━━━━━━━━━━━━━━━━━━━━━━*/
* { color: var(--text-color); }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Pretendard', 'Montserrat';
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: -0.4px;
  vertical-align: baseline;
}
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Pretendard', 'Montserrat';
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-size: 1.6rem;
}

::selection {
  background: #0ACDCE;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to top, #d71e26, #dc7526, #de8e27); */
  background: #202020;

}


li {
  list-style: none;
  color: var(--text-color);
}

a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

input::placeholder,
textarea::placeholder {
  font-family: 'Noto Sans KR';
  font-size: 13px;
  color: #C1C4CF;
}



@media screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 55%;
  }
}
