.inner {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2rem;
  color: var(--white-color);
  background: var(--bg-color);
  z-index: 10;
}
.header .logo {
  font-size: 20px;
  font-weight: 700;
  padding: 8px;
  border: 2px solid var(--white-color);
  border-radius: 8px;
}
.header a {
  
  text-transform: uppercase;
  color: var(--white-color);
}
.header nav ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header nav ul a {
  font-size: 20px;
}
.main {
  position: relative;
  height: 100vh;
  background: var(--bg-color);
}
.main > div {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%);
}
.main > div h2,
.main > div p { color: var(--white-color); }
.main > div h2 {
  
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
.main > div p {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}



.waves {
  position:absolute;
  bottom: 0;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 16s;
}


.section {
  position: relative;
  padding: 10rem 2rem;
}
.accent { color: var(--accent-color); }


.about_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}
.profile_wrap {
  width: 50rem;
  height: 70rem;
  background-color: #fff;
}
.profile_wrap img {
  width: 100%;
  object-fit: cover;
}

.about_content .text_wrap { max-width: 60rem; align-self: flex-end; }
.about_content .text_wrap p {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.about_content .text_wrap p:last-child { margin: 0; }



.title {
  position: relative;
  width: fit-content;
  font-size: 6rem;
  font-weight: 700;
}
.title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 5px;
  right: -16px;
  width: 10px;
  height: 10px;
  background: var(--accent-color);
  border-radius: 50%;
}


.skill_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 2rem;
  margin-top: 8rem;
}
.skill_wrap > div {
  width: calc((100% / 3) - 1rem);
  overflow: hidden;
}
.skill_wrap > div h5 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.skill_wrap > div ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}
.skill_wrap > div ul li {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 8px 1.6rem;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
}



.swiper { padding: 4rem 0; }
.swiper,
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
}
.swiper-slide .img_wrap {
  width: 100%;
  height: 36rem;
  border-radius: 2rem;
  background: #fff;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .text_wrap {
  width: 100%;
  padding: 2rem 10px;
}
.swiper-slide .text_wrap p {
  font-size: 2rem;
  text-align: left;
}
.swiper-slide .text_wrap p:last-child {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--sub-text-color);
}
.swiper-pagination { position: relative;  margin-top: 4rem; }
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: var(--accent-color); }
.swiper-pagination .swiper-pagination-bullet { opacity: 1; background-color: #555; }



.contact_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 8rem 0 4rem;
}
.contact_info li span,
.contact_info li a {
  margin-top: 6px;
  font-size: 2rem;
}
.contact_info li span {
  color: var(--sub-text-color);
}


footer { padding: 2rem; }
footer p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
  color: var(--sub-text-color);
}


@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
} 